.App {
  text-align: center;
  font-family: Heavyweight;
  font-size: 20px;
}

button {
  font-family: Heavyweight;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.gameBoard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bellArea {
  background-color: white;
  height: 452px;
  width: 154px;
  position: relative;
}

.scaleBack {
  position: absolute;
  background-color: black;
  width: 14px;
  left: 70px;
  height: 452px;
}

.scaleSlot {
  position: absolute;
  background-color: black;
  height: 12px;
  left:60px;
  width: 34px;
}

.scaleArrow {
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid darkgray;
  left: 27px;

  text-indent: -90px;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.bellHead {
  position: absolute;
  height: 56px;
  width: 56px;
  background-color: darkgray;
  top: 198px;
  left: 49px;
  border-radius: 56px;
  cursor: pointer;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(4, 154px);
  grid-template-rows: repeat(2, 226px);
}

.boneDisplay {
  width: 154px;
  padding-top:calc(339px/1.2);
  font-size: 30px;
  scale: 1.2;
}

.handContainer {
  position: relative;
  margin-left: calc(50% - 308px + 14.5px);
  margin-top: 14.5px;
}

.drawContainer {
  position: relative;
  height: 0px;
  margin-left: calc(50% - 308px + 14.5px + 616px);
  margin-top: 14.5px;

  display: flex;
  flex-direction: row;
}

.cardContainer {
  position:relative;
  width: 125px;
  height: 190px;
  cursor: pointer;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
}

.cardHeader {
  font-family: Heavyweight;
  top: 7px;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.cardPortrait {
  top: 34px;
  left: 6px;
}

.cardCost {
  left: 63px;
  top: 14px;
  transform: scale(79%);
}

.cardDamage {
  font-family: Heavyweight;
  left: 1px;
  top: 129px;
  font-size: 40px;
  text-align: center;
  width: 30%;
}

.cardHealth {
  font-family: Heavyweight;
  left: 86px;
  top: 143px;
  font-size: 40px;
  text-align: center;
  width: 30%;
}

.cardSigil1 {
  left: 37px;
  top: 133px;
}

.cardSigilSmall1 {
  left: 24px;
  top: 143px;
  scale: 65%;
}

.cardSigilSmall2 {
  left: 51px;
  top: 122px;
  scale: 65%;
}

.cardSigilPatch1 {
  left: 14px;
  top: 88px;
  filter: brightness(0) saturate(100%) invert(89%) sepia(20%) saturate(601%) hue-rotate(78deg) brightness(101%) contrast(93%);
  width: 39px;
  height: 39px;
}

.cardSigilPatch2 {
  left: 13px;
  top: 35px;
  filter: brightness(0) saturate(100%) invert(89%) sepia(20%) saturate(601%) hue-rotate(78deg) brightness(101%) contrast(93%);
  width: 39px;
  height: 39px;
}

.sigilPatch1 { 
  width: 63px;
  height: 63px;

  top: 75px;
  left: 3px;
}

.sigilPatch2 {
  width: 63px;
  height: 63px;

  top: 22px;
  left: 2px;
}

.sacrificeMark {
  scale: 82%;
  top: -3px;
  filter: invert(70%) sepia(91%) saturate(4994%) hue-rotate(7deg) brightness(50%) contrast(117%);
}

.gameSlot {
  position: relative;
  width: 154px;
  height: 226px;
}

.draftGrid {
  display: grid;
  grid-template-columns: repeat(7, 154px);
  grid-template-rows: repeat(1, 226px)
}

.inscGrid {
  display: grid;
  grid-template-columns: repeat(3, 154px);
  grid-template-rows: repeat(1, 20px);

  margin-left: calc(50% - 231px);
  margin-top: 20px;
}

.cardSlot {
  cursor: pointer;
}