.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.gameGrid {
  display: grid;
  grid-template-columns: repeat(4, 154px);
  grid-template-rows: repeat(2, 226px)
}

.cardContainer {
  position:relative;
  width: 125px;
  height: 190px;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
}

.cardHeader {
  font-family: Heavyweight;
  top: 7px;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.cardPortrait {
  top: 34px;
  left: 6px;
}

.cardCost {
  left: 63px;
  top: 14px;
  transform: scale(79%);
}

.cardDamage {
  font-family: Heavyweight;
  left: 1px;
  top: 129px;
  font-size: 40px;
  text-align: center;
  width: 30%;
}

.cardHealth {
  font-family: Heavyweight;
  left: 86px;
  top: 143px;
  font-size: 40px;
  text-align: center;
  width: 30%;
}

.cardSigil1 {
  left: 37px;
  top: 133px;
}

.sacrificeMark {
  scale: 82%;
  top: -3px;
  filter: invert(70%) sepia(91%) saturate(4994%) hue-rotate(7deg) brightness(50%) contrast(117%);
}

.gameSlot {
  position: relative;
}

.draftGrid {
  display: grid;
  grid-template-columns: repeat(7, 154px);
  grid-template-rows: repeat(1, 226px)
}